@mixin clearfix {
    // Simple clearfix
    &::after {
        display: table;
        clear: both;
        border-spacing: 0;
        content: '';
    }
}

@mixin unstyled-list {
    // Remove list bullets
    padding-left: 0;
    list-style: none;
}

@mixin margin-auto {
    // Set automatic margins
    margin: {
        right: auto;
        left: auto;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    // Defaults for pseudo selectors
    display: $display;
    position: $pos;
    content: $content;
}

@mixin responsive-ratio($x, $y) {
    // Size an element by a ratio
    $padding: unquote(($y / $x) * 100 + '%');
    position: relative;

    &::before {
        @include pseudo($pos: relative);
        padding-top: $padding;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@mixin vertical-center {
    // Vertical centering
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin prefixed-placeholder {
    $placeholders: ':-webkit-input' ':-moz' '-moz' '-ms-input';
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}


@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}


// Gutter must be in rems
@mixin grid($cols: 2, $gutter: 0, $col-class: item) {
    font-size: 0;
    text-align: center;

    &__#{$col-class} {
        display: inline-block;
        margin: 0 $gutter $gutter 0;
        font-size: 1rem;
        vertical-align: middle;

        $rem-fix: 1 / strip-unit($base-font-size);

        @if $gutter != 0 {
            width: calc((100% - #{($cols - 1) * ($gutter + $rem-fix)}) / #{$cols});
        } @else {
            width: calc(100% / #{$cols});
        }

        &:nth-child(#{$cols}n),
        &:last-child {
            margin-right: 0;
        }

        &:nth-child(#{$cols}n + 1) {
            clear: left;
        }
    }
}

@mixin display-table($cols: 2) {
    display: table;
    width: 100%;
    table-layout: fixed;

    &__row {
        display: table-row;
    }

    &__cell {
        display: table-cell;
        width: calc(100% / #{$cols});
        vertical-align: middle;
    }
}
